<div id="graficos" class="d-flex justify-content-center" style="width: 98%;max-height: 450px;">
    <canvas class="p-2" id="graficoValores"></canvas>
    <canvas class="p-2" id="graficoQtd"></canvas>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('graficoValores');
    const ctx2 = document.getElementById('graficoQtd');

    const total = document.getElementById('total').value
    const qtdTotal = document.getElementById('qtdTotal').value
    const cancel = document.getElementById('cancel').value
    const qtdCancel = document.getElementById('qtdCancel').value

    const valid = document.getElementById('valid').value
    const qtdValid = document.getElementById('qtdValid').value

    const comiss = document.getElementById('comiss').value
    let valores = [total, valid, cancel, comiss]
    let qtd = [qtdTotal, qtdValid, qtdCancel]
    let grafico1 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Total', 'Validas', 'Canceladas', 'comissao'],
            datasets: [{
                label: "Valor R$",
                data: valores,
                borderWidth: 1,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(228, 245, 87)'
                ],
                hoverOffset: 4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    //type: 'doughnut',
    let grafico2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['Total', 'Validas', 'Canceladas'],
            datasets: [{
                label: "Quantidade",
                data: qtd,
                borderWidth: 1,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>