<div id="graficos" class="d-flex justify-content-center" style="width: 98%;  max-height: 450px;">
    <canvas style="max-width: 48%;" class="p-2" id="graficoValores"></canvas>
    <canvas style="max-width: 48%;" class="p-2" id="graficoQtd"></canvas>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('graficoValores');
    const ctx2 = document.getElementById('graficoQtd');

    const total = document.getElementById('valorTotal').value
    const qtdTotal = document.getElementById('qtdTotal').value

    const pago = document.getElementById('valorPago').value
    const qtdPago = document.getElementById('qtdPago').value

    const cancel = document.getElementById('valorCancel').value
    const qtdCancel = document.getElementById('qtdCancel').value

    const venci = document.getElementById('valorVencido').value
    const qtdVenci = document.getElementById('qtdVenciados').value

    const pend = document.getElementById('valorPendente').value
    const qtdPend = document.getElementById('qtdPendente').value


    let valores = [total, pago, cancel, pend, venci]
    let qtd = [qtdTotal, qtdPago, qtdCancel, qtdPend, qtdVenci]
    let grafico1 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Total', 'Pagos', 'Canceladas', 'Pendente', 'Vencidos'],
            datasets: [{
                label: "Valor R$",
                data: valores,
                borderWidth: 3,
                backgroundColor: [
                    'rgb(102, 205, 86,.7)',
                    'rgb(54, 162, 235,.7)',
                    'rgb(255, 99, 132,.7)',
                    'rgb(255, 205, 86,.7)',
                    'rgb(255,75, 56,.7)'
                ],
                borderColor: [
                    'rgb(102, 205, 86)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 205, 86)',
                    'rgb(255,75, 56)'
                ],
                hoverOffset: 4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    //type: 'doughnut',
    let grafico2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['Total', 'Pagos', 'Canceladas', 'Pendente', 'Vencidos'],
            datasets: [{
                label: "Quantidade",
                data: qtd,
                borderWidth: 3,
                backgroundColor: [
                    'rgb(102, 205, 86,.7)',
                    'rgb(54, 162, 235,.7)',
                    'rgb(255, 99, 132,.7)',
                    'rgb(255, 205, 86,.7)',
                    'rgb(255,75, 56,.7)'
                ],
                borderColor: [
                    'rgb(102, 205, 86)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 205, 86)',
                    'rgb(255,75, 56)'
                ],
                hoverOffset: 4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>
