{{#if user}}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/painel"><img src="/img/icon.png" width="60" height="30"
        class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Guias Encomendas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/guias">Cadastrar Guias</a></li>
            <li><a class="dropdown-item" href="/consultas/por_empresa">Buscar Por Empresa</a></li>
            <li><a class="dropdown-item" href="/consultas/por_usuario">Buscar Por Usuario</a></li>
            <li><a class="dropdown-item" href="/consultas/por_agencia">Buscar Por Agencia</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Prestação de Contas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/arrecadacao">Cadastrar Prestação Contas</a></li>
            <li><a class="dropdown-item" href="/arrecadacao/buscar_guias">Buscar P. de Contas</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Comissão
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/comissao/bilhetes">Comissão dos Bilhetes</a></li>
            <li><a class="dropdown-item" href="/comissao/cargas">Comissão de Excesso de Bagagem</a></li>
            <li><a class="dropdown-item" href="/comissao/seguro">Comissão de Seguro</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administrador
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/periodos">Abrir e Encerrar Digitação</a></li>
            <li><a class="dropdown-item" href="/administracao/empresas">Cadastrar Empresas</a></li>
            <li><a class="dropdown-item" href="/administracao/users">Cadastrar Usuarios</a></li>
            <li><a class="dropdown-item" href="/administracao/agencias">Cadastrar Agencias</a></li>
            <li><a class="dropdown-item" href="/administracao/clientes">Cadastrar Clientes</a></li>
            <li><a class="dropdown-item" href="/talao">Cadastrar Talão</a></li>
            <li><a class="dropdown-item" href="#">Log dos Usuarios</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/validation/sobre">Sobre</a>
        </li>
        <li class="  nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.nome}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/reset_pass">Alterar Senha</a></li>
            <li><a class="dropdown-item" href="/user/logout">Sair</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/guias/buscar" method="post">
        <input name="numero" class="form-control me-2" type="search" placeholder="Nº Guia/P.Contas "
          aria-label="Conhecimento">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
{{else}}
{{/if}}