<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Document</title>
</head>

<body>
    <div id="grafico">
        <div class="grafico-barras">
            <div class="colunas">
                <div class="escala-y">
                    <div class="divisao">
                        <small>R$ 300.000,00</small>
                    </div>
                    <div class="divisao">
                        <small>R$250.000,00</small>
                    </div>
                    <div class="divisao">
                        <small>R$200.000,00</small>
                    </div>
                    <div class="divisao">
                        <small>R$150.000,00</small>
                    </div>
                    <div class="divisao">
                        <small>R$100.000,00</small>
                    </div>
                    <div class="divisao">
                        <small>R$50.000,00</small>
                    </div>
                </div>
                <div class="area-grafico">
                    <div class="area-barras">
                        <div class="resumo"> resumo aqui</div>
                        <div class="meses_barra">
                            <div class="barra gren" style="height: 75%;"></div>
                            <div class="barra blue" style="height: 47%;"></div>
                            <div class="barra red" style="height: 25%;"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                        <div class="meses_barra">
                            <div class="barra gren"></div>
                            <div class="barra blue"></div>
                            <div class="barra red"></div>
                        </div>
                    </div>
                    <div class="escala-x">
                        <div class="divisao">
                            Janneiro<br />
                            2024
                        </div>
                        <div class="divisao">
                            Fevereiro<br />
                            2024
                        </div>
                        <div class="divisao">
                            Março<br />
                            2024
                        </div>
                        <div class="divisao">
                            Abril<br />
                            2024
                        </div>
                        <div class="divisao">
                            Maio<br />
                            2024
                        </div>
                        <div class="divisao">
                            Junho<br />
                            2024
                        </div>
                        <div class="divisao">
                            Julho<br />
                            2024
                        </div>
                        <div class="divisao">
                            Agosto<br />
                            2024
                        </div>
                        <div class="divisao">
                            Setembro<br />
                            2024
                        </div>
                        <div class="divisao">
                            Outubro<br />
                            2024
                        </div>
                        <div class="divisao">
                            Novembro<br />
                            2024
                        </div>
                        <div class="divisao">
                            Dezembro<br />
                            2024
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.barra').mousemove(function () {
        $('.resumo').show()
    })
</script>

</html>