
{{#each info}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4">Sobre</h3>
    <p class="lead">Desde: {{desde}}</p>
    <p class="lead">Versão: {{version}}</p>
    <p class="lead">Desenvolvido Por: {{by}}</p>
  </div>
</div>
{{else}}
{{/each}}