@charset "UTF-8";



nav,
hr,
section,
footer,
button {
    display: none;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px 2px 5px 2px;
    margin: 5px 2px 5px 2px;
}

table {
    width: 95%;
}